body {
    font-family: Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #200;
    color: #866;
}

h1 {
    text-shadow: 1px 1px 2px White;
}

hr {
    border-color: #866;
    box-shadow: 0 0 2px 1px #866;
}

img {
    border: 6px double #866;
}

a:hover {
    color: #ff4500;
}

p {
    color: #770;
}

.window {
    padding: 8px;
    border-radius: 5px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    line-height: 1.0;
    background-color: Black;
    color: LightGray;
    white-space: pre;
    text-wrap: none;
    overflow: auto;
    border: 2px solid YellowGreen;
}

#titles{
    position: relative;
    width: 30em;
    height: 15em;
    top: -2em;
    left: 50%;
    margin-left: -15em;
    font-weight: bold;
    overflow: hidden;
    transform: perspective(200px) rotateX(60deg);
}

#titlecontent{
    position: relative;
    top: 100%;
    animation: scroll 30s linear 2s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -200%; }
}
